body{
    width: auto;

}

.logo{
    width: 100px;
    height: 50px;
}

/*.container{
    margin: auto;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}*/

.options{
    color: white;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
}

.optionsTwo{
    color: white;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
}

.menu{
    background-color: rgb(0, 0, 95);
    box-sizing: border-box;
    color: white;
    height: 50px;
    display: flex;
    max-width: auto;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}

img{
 width: 300px;
 height: 400px;
}

.infoStar{
 
 padding: 50px;
 color: white;
 
}
.starWarsInfo{
    background-color: #622122;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.overview{
    line-height: 1.2;
    max-width: 900px;
}
.crewNameTwo{
    padding-left: 20px;
}
.crewName{
    display: flex;
    margin: 50 px;
}

.castMember{
  background-color: white; 
  width: 140px;
  color: black;
  padding:20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 8px 10px 19px 1px rgba(189, 189, 189, 0.59);
  display: flex;
  flex-direction: column;
}

.castImage{
width: 138px;
height: 175px;
}

.topBilledCast{
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
}

.cast{
 margin-top: 40px;
 display: flex;
 flex-direction: column;
 justify-content: center; 
 padding-left: 10px;
}

p{margin-top: 5px;}
h2{margin-bottom: 0px;}
h4{margin-bottom: 0px;}



.dropbutton {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    display: flex;
    justify-content: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}